{% extends 'base.html' %}

{%block title%} Register {%endblock%}


{%block content%}
    <body>
        <form action="" method="POST">
            <Label for="first_name" name="first_name">
                First Name: 
            </Label>
            <br/>
            <input type="text" name="first_name">
            <br/>

            <Label for="last_name" name="last_name">
                Last Name: 
            </Label>
            <br/>
            <input type="text" name="last_name">
            <br/>

            <Label for="email" name="email">
                Email: 
            </Label>
            <br/>
            <input type="email" name="email">
            <br/>

    
            <label for="customer_password" name="customer_password">
                Password:
            </label>
            <br/>
            <input type="password" name="customer_password">
            <br/>
            <input type="submit" name="Log In" >

            <br/>


            <p> Registered before?</p>
            <a href= '/'> Log In</a>
        </form>

{%endblock%}